* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.value {
  border: 2px solid transparent;
  background-color: rgb(30, 14, 200);
  color: yellow;

  display: flex;
  justify-content: center;
}
.label {
  border: 2px solid transparent;
  background-color: rgb(0, 0, 0);
  color: crimson;
}
